node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log
.DS_Store
*.tgz
.vscode/
.env
.env.local
.env.production.local
.env.test.local
android/
ios/
.idea/
*.iml
*.hprof
.gradle/
build/
*.apk
*.aab

# Ignore macOS system files
Library/
/.Trash/
